@import '../shared/styles/uap-styles.scss';
@import '../shared/styles/out-of-page-styles';
@import '../../shared/styles/common/hidden-ad';

body {
	@include uap-styles();

	&.has-uap {
		.c-siteHeader {
			z-index: 201;
		}

		.c-layoutDefault:has(.c-searchBox_autoSuggest.isActive) #top_leaderboard {
			display: none;
		}
	}

	&.has-uap {
		#top_leaderboard {
			&.sticky-tlb,
			&.bfaa-template {
				z-index: 5000001;
			}
		}
	}
}

.gpt-ad {
	text-align: center;

	@include hidden-ad();

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

body:not(.skybox-loaded) {
	.c-adSkyBox,
	.c-adSkyBox .c-adDisplay_container {
		min-height: 0 !important;
	}
}

body:not(.c-siteHeader_menu-mobile) {
	.c-adSkyBox,
	.c-adSkyBox .c-adDisplay_container {
		display: block;
	}
}

body:has(.c-siteHeader_menu-mobile) {
	.c-adSkyBox,
	.c-adSkyBox .c-adDisplay_container {
		display: none;
	}
}

@include out-of-page-styles();
