loglevel="warn"
save-exact=true
@wikia:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GH_NPM_TOKEN}
@fandom:registry=https://artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/
//artifactory.wikia-inc.com:443/artifactory/api/npm/wikia-npm/:_authToken=${ARTIFACTORY_NPM_TOKEN}
//artifactory.wikia-inc.com:443/artifactory/api/npm/wikia-npm/:always-auth=true
//artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/:_authToken=${ARTIFACTORY_NPM_TOKEN}
