{
  "check-coverage": true,
  "lines": 55,
  "functions": 45,
  "branches": 40,
  "statements": 55,
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "build/",
    "spec/**/*",
    "src/platforms/!(shared)*/**/*"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "html",
    "text",
    "clover"
  ],
  "report-dir": "spec/build/",
  "all": true,
  "cache": true,
  "sourceMap": false,
  "instrument": false
}
