@import './styles/navbar';
@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';

.has-uap {
	.WikiaSiteWrapper {
		margin-top: 0;
	}

	#top_leaderboard,
	#hivi_leaderboard {
		@include bfaa-slot();
	}

	#bottom_leaderboard {
		@include bfab-slot();
	}

	#top_leaderboard,
	#hivi_leaderboard,
	#bottom_leaderboard {
		@include uap-porvata();
		@include uap-porvata-right-position();

		@include uap-advertisement-label();
		@include uap-button-close();

		&.is-dark {
			@include uap-dark-theme();
		}

		&.sticky-tlb {
			background: #000;
			padding: 18px 0 0 0;
			width: 100%;
			box-sizing: border-box;

			& .advertisement-label {
				color: #5f7a7b;
				position: static;
				text-align: center;
			}
		}
	}
}

@include expanded-slot();

.gpt-ad {
	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

@include navbar();

// #######################################

.main-page-tag-rcs {
	display: flex;
	flex-direction: column;
}

#top_leaderboard {
	> div {
		text-align: center;
	}
}

#bottom_leaderboard {
	margin-top: 20px;
	margin-bottom: 23px;

	> div {
		text-align: center;
	}
}

#invisible_skin {
	display: none !important;
}
