@import 'out-of-page-template';

@mixin interstitial() {
	.interstitial {
		background: #000000;
		bottom: 0;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;

		& > .button-close {
			background-color: #002a32;
			fill: #ffffff;
			height: auto;
			top: 0;
			border: 2px solid #00d6d6;
			border-radius: 24px;
			padding: 2px;
			margin: 11px;
		}

		& > .advertisement-label {
			align-items: center;
			background-color: #002a32;
			color: #ffffff;
			display: flex;
			font-size: 17px;
			height: 55px;
			justify-content: left;
			left: 0;
			padding: 0 10px;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: $out-of-page-z-index - 1;
		}
	}
}
