@import 'platforms/shared/styles/index';
@import './styles/uap-navbar';

.has-uap {
	@include uap-navbar();

	#top_leaderboard,
	#hivi_leaderboard {
		@include bfaa-slot();
	}

	#bottom_leaderboard {
		@include bfab-slot();
	}

	#top_leaderboard,
	#hivi_leaderboard,
	#bottom_leaderboard {
		@include uap-porvata();
		@include uap-porvata-learn-more();

		@include advertisement-label();
		@include button-close();

		&.is-dark {
			@include uap-dark-theme();
		}

		&.sticky-tlb {
			background: #000;
			padding: 18px 0 0 0;
			width: 100%;
			box-sizing: border-box;

			& .advertisement-label {
				color: #5f7a7b;
				position: static;
				text-align: center;
			}
		}
	}
}

@include expanded-slot();

.gpt-ad {
	text-align: center;

	&#top_leaderboard {
		bottom: 0;
		margin: 0 auto;
		position: fixed;
		width: 100%;
		z-index: 999999 !important;
	}

	&#footer_boxad {
		margin: 10px auto;
	}
}

html.disable-ads {
	.gpt-ad {
		display: none;
	}
}

.editor-overlay .gpt-ad {
	display: none;
}
