@import '../../../shared/styles/mixin';
@import '../../../shared/styles/uap/uap-advertisement-label';
@import '../../../shared/styles/uap/uap-button-close';
@import '../../../shared/styles/uap/bfaa-slot';
@import '../../../shared/styles/uap/expanded-slot';
@import '../../../shared/styles/uap/sticky-tlb-slot';
@import '../../../shared/styles/uap-porvata/uap-porvata-learn-more';
@import '../../../shared/styles/uap-porvata/uap-porvata-right-position';
@import '../../../shared/styles/uap-porvata/uap-porvata';
@import '../../../shared/styles/uap-porvata/porvata';

@mixin uap-styles() {
	&.has-uap {
		#top_leaderboard {
			line-height: unset;
			margin: unset;

			@include bfaa-slot();
			@include uap-porvata();
			@include sticky-tlb-slot(0px, 5000061);

			html.desktop &,
			html.tablet.landscape & {
				@include uap-porvata-right-position();
			}

			html.tablet.portrait &,
			html.mobile & {
				@include uap-porvata-learn-more();

				.learn-more > div {
					margin-right: 30px !important;
					margin-top: 5px !important;
				}
			}

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}

			.porvata-interface .current-time {
				margin: unset !important;
			}
		}
	}

	@include expanded-slot();
}
