@import '../shared/styles/uap-styles.scss';

body {
	@include uap-styles();

	&.has-uap #top_header {
		z-index: 201;
	}
}

.gpt-ad {
	text-align: center;

	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}
