@import '../shared/styles/uap-styles.scss';
@import '../shared/styles/out-of-page-styles';

body {
	@include uap-styles();

	&.has-uap #top_header {
		z-index: 201;
	}

	&.has-uap {
		#top_leaderboard {
			&.sticky-tlb {
				z-index: 202;
			}
		}
	}
}

.gpt-ad {
	text-align: center;

	@include hidden-ad();

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

@include out-of-page-styles();
