@mixin bfaa-embedded-resolved() {
	&.bfaa-embedded-resolved {
		position: relative;
		top: 0;

		#top_leaderboard {
			.video-overlay {
				bottom: 20% !important;
				position: absolute;
			}

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}
}
