@import 'src/ad-products/styles/mixin';

@mixin bfaa-slot($uap-z-index: 202, $uap-margin: 0px) {
	z-index: $uap-z-index;
	padding: 0;
	left: 0;
	top: 0;
	position: fixed;
	width: calc(100% - #{$uap-margin});
	background-color: #000;

	@include bfaa-bfab-overlay;
}
