@mixin bfaa-sticky-small() {
	&.bfaa-sticky-small {
		position: fixed;
		top: 55px;

		#top_leaderboard {
			.video-player.porvata-player {
				right: 10px;
			}
		}
		.video-overlay {
			bottom: 80%;
			width: 100%;

			.porvata-interface {
				right: 10px;
			}
		}
	}
}
