@mixin bfaa-sticky-small() {
	z-index: 202;
	&.bfaa-sticky-small {
		#top_leaderboard {
			.video-player.porvata-player {
				right: 10px;
			}
		}
		.video-overlay {
			bottom: 80%;
			width: 100%;

			.porvata-interface {
				width: 145px;
				height: 82px;
				right: 10px;
			}
		}
	}
}
