@mixin bfaa-sticky-small() {
	z-index: 202;
	&.bfaa-sticky-small {
		#top_leaderboard {
			.video-player.porvata-player {
				right: 10px;
			}
		}
		.video-overlay {
			bottom: 80%;
			width: 100%;

			.porvata-interface {
				width: $hivi-uap-video-width-to-vw-ratio;
				height: $hivi-uap-video-width-to-height-ratio;
				right: 10px;
			}
		}
	}
}
