@import 'src/ad-products/styles/uap-variables';

@mixin bfaa-sticky-big() {
	&.bfaa-sticky-big {
		position: fixed;
		top: $fandom-navbar-height;
		left: 0;

		.video-overlay {
			top: 0;
			width: 100%;

			.porvata-interface {
				position: relative;

				.bottom-panel.dynamic-panel {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}
