@import 'src/ad-products/styles/uap-variables';

@mixin bfaa-sticky-big() {
	z-index: $new-uap-z-index;

	&.bfaa-sticky-big {
		.video-overlay {
			top: 0;
			width: 100%;

			.porvata-interface {
				position: relative;
				top: 210px;

				.bottom-panel.dynamic-panel {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}
