@mixin bfaa-sticky-big() {
	z-index: 202;

	&.bfaa-sticky-big {
		#top_leaderboard {
			position: unset;
		}

		.video-overlay {
			top: 0;
			width: 100%;

			.porvata-interface {
				.bottom-panel.dynamic-panel {
					position: absolute;
					top: -35px;
				}
			}
		}
	}
}
