@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/porvata';
@import 'src/ad-products/styles/uap-variables';

@mixin ucp-mobile-uap-styles() {
	.has-uap {
		#globalNavigation {
			@include uap-navbar();
		}

		.site-head-wrapper {
			min-height: 0;
		}

		#top_leaderboard {
			@include bfaa-slot(400);
			@include sticky-tlb-slot();
		}

		#bottom_leaderboard {
			@include bfab-slot();
		}

		#top_leaderboard,
		#bottom_leaderboard {
			@include uap-porvata();
			@include uap-porvata-learn-more();
			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	.uap-light {
		.top-ads-container {
			position: relative;
			margin-top: $fandom-navbar-height;

			.ad-slot-placeholder.top-leaderboard {
				position: fixed;
				overflow: hidden;
				width: 100%;
				height: fit-content;
				z-index: 202;
				padding: 0;

				#top_leaderboard {
					position: relative;
				}
			}
		}
	}

	@include expanded-slot();
}

@mixin out-of-page-styles() {
	@include out-of-page-template();
	@include floor-adhesion();
	@include interstitial();
}

@include ucp-mobile-uap-styles();
@include out-of-page-styles();
@include logo-replacement(55px, 12px, 0, 93px, 27px);

.wds-is-gamepedia {
	@include logo-replacement(55px, 12px, 0, 116px, 24px);
}

.gpt-ad {
	text-align: center;

	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

.ad-slot {
	.provider-container {
		margin: 20px auto;
	}

	&.hide {
		display: none !important;
	}
}

.ad-slot-placeholder.hide {
	display: none !important;
}

.ntv-ad {
	@include nativo;
}

#ntv_feed_ad {
	text-align: left;
	height: 259px;
	margin-bottom: 12px;
	border-radius: 3px;
}

.article-content p + .ad-slot {
	margin: 3rem 0;

	&:not(.a9-ad) {
		margin: 3rem -1.5rem;
	}
}

.article-content :not(.ad-slot-placeholder) > .ad-slot {
	&.slot-responsive {
		margin: 0 0 1.125rem;
	}

	&.incontent-boxad {
		margin: 0.75rem 0;

		&:not(.a9-ad) {
			margin: 0.75rem -1.5rem 3rem;
		}
	}
}

#floor_adhesion_anchor.out-of-page-template {
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	// needed for Safari 9 - it doesn't position elements from the left by default
	left: 0;
	padding: 20px 0;

	.button-close {
		border: 2px solid white;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		top: -20px;

		&:after {
			content: '';
			position: absolute;
			width: 45px;
			height: 45px;
		}
	}
}

.ad-slot.porvata-outstream {
	margin-bottom: 20px;

	.porvata-interface {
		.volume-button {
			height: auto;
			padding: 14px 12px 7px 7px;
			width: auto;

			svg {
				position: static;
			}
		}
	}
}

.ad-slot-placeholder {
	position: relative;
	padding: 18px 0 24px 0;

	#incontent_player {
		height: calc((100vw - 2.25rem) * 0.75);
		margin: 0;
		min-height: calc((100vw - 2.25rem) * 0.75);
		width: calc(100vw - 2.25rem);

		.video-overlay {
			background: #000000;
		}
	}

	.ae-translatable-label {
		bottom: 0;
		display: block;
		color: #858585;
		font-size: 10px;
		font-weight: 500;
		left: 0;
		line-height: 24px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	.porvata-outstream.porvata3::before {
		display: none;
	}

	&.is-loading {
		.ae-translatable-label {
			background-color: var(--theme-page-background-color);
		}
	}

	&.hide,
	.hide {
		display: none;
	}
}

body.bab-detected {
	.top-ads-container,
	.ad-slot-placeholder {
		display: none !important;
	}
}

.message-box {
	color: white;
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	flex-direction: column;
	max-height: 250px;
	padding: 22px;
	background-color: #520044;

	.cm-message {
		color: #ffc500;
		font-size: 30px;
		font-weight: 500;
		line-height: 40px;
		margin: 0 0 12px;
		text-transform: uppercase;
	}

	.cm-button {
		background-color: #ffc500;
		color: #520044;
		cursor: pointer;
	}

	.newsletter-form {
		display: flex;
		width: 100%;
		margin-top: 5px;

		.newsletter-email {
			flex: 4;
			background-color: transparent;
			color: white;
			border: 1px solid #fff;
			border-width: 0 0 1px 0;
			margin-bottom: 16px;
			outline: none;
			margin-right: 2px;

			&::placeholder {
				color: white;
			}
		}

		.newsletter-submit {
			flex: 1;
		}
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

@media (max-width: 412px) {
	.message-box {
		.cm-message {
			font-size: 25px;
			line-height: 40px;
		}
	}
}

@media (max-width: 320px) {
	.message-box {
		.cm-message {
			font-size: 25px;
			line-height: 30px;
		}
	}
}
