@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/porvata';
@import 'src/ad-products/styles/uap-variables';

@mixin ucp-mobile-uap-styles() {
	.has-uap {
		#globalNavigation {
			@include uap-navbar();
		}

		.site-head-wrapper {
			min-height: 0;
		}

		#top_leaderboard {
			@include bfaa-slot(400);
			@include sticky-tlb-slot();
		}

		#bottom_leaderboard {
			@include bfab-slot();
		}

		#top_leaderboard,
		#bottom_leaderboard {
			@include uap-porvata();
			@include uap-porvata-learn-more();
			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	.has-new-uap {
		.top-leaderboard.ad-slot-placeholder {
			left: 0;
			position: sticky;
			width: 100vw;
			z-index: $new-uap-bfaa-z-index;
			// Highest expected BFAA size. CLS optimization.
			min-height: 213px;

			#top_leaderboard {
				@include uap-porvata();
				@include uap-porvata-learn-more();
				@include uap-advertisement-label();
				@include uap-button-close();
				@include bfaa-sticky-big();
				@include bfaa-sticky-small();
				@include bfaa-embedded();
				&.is-dark {
					@include uap-dark-theme();
				}
			}
		}

		@include bfaa-with-infobox();

		#bottom_leaderboard {
			@include bfab-new-uap();
			@include uap-porvata();
			@include uap-porvata-learn-more();
			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	@include expanded-slot();
}

@mixin out-of-page-styles() {
	@include out-of-page-template();
	@include floor-adhesion();
	@include interstitial();
}

@include ucp-mobile-uap-styles();
@include out-of-page-styles();
@include logo-replacement(55px, 12px, 0, 93px, 27px);

.wds-is-gamepedia {
	@include logo-replacement(55px, 12px, 0, 116px, 24px);
}

// #######################################

@mixin ic-ad-slot-placeholder() {
	align-items: center;
	display: flex;
	justify-content: center;
	// 250px (slot height) + 18px (top padding) + 24px (bottom padding = label height)
	min-height: 292px;

	&.is-loading {
		animation: is-loading 2s infinite;
		border-radius: 20px;
	}
}

.gpt-ad {
	text-align: center;

	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

not(.ic-ad-slot-placeholder) {
	.ad-slot {
		margin: 0 0 1.125rem;
		text-align: center;
	}
}

.ad-slot {
	.provider-container {
		margin: 20px auto;
	}

	&.hide {
		display: none !important;
	}
}

.incontent-boxad {
	&.ic-ad-slot-placeholder {
		@include ic-ad-slot-placeholder;
	}
}

.ic-ad-slot-placeholder {
	@include ic-ad-slot-placeholder;
}

#incontent_player {
	&.ic-ad-slot-placeholder {
		@include ic-ad-slot-placeholder;

		min-height: calc((100vw - 2.25rem) * 0.75);
		align-items: unset;
		display: block !important;

		.video-overlay {
			background: #000000;
		}
	}
}

.ic-ad-slot-placeholder {
	@include ic-ad-slot-placeholder;

	#incontent_player {
		height: calc((100vw - 2.25rem) * 0.75);
		margin: 0;
		min-height: calc((100vw - 2.25rem) * 0.75);
		width: calc(100vw - 2.25rem);

		.video-overlay {
			background: #000000;
		}
	}
}

#affiliate_slot {
	text-align: center;

	& > div {
		margin-bottom: 10px;
	}
}

#affiliate_disclaimer {
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: auto;
	padding-bottom: 15px;
	width: 280px;
}

.article-content .ad-slot-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-content .ad-slot-wrapper .ad-slot,
.article-content p + .ad-slot {
	&.incontent-boxad:not(.ic-ad-slot-placeholder) {
		margin: 3rem 0;

		&:not(.a9-ad) {
			margin: 3rem -1.5rem;
		}
	}
}

.article-content :not(.ic-ad-slot-placeholder) > .ad-slot {
	&.slot-responsive {
		margin: 0 0 1.125rem;
	}

	&.incontent-boxad {
		margin: 0.75rem 0;

		&:not(.a9-ad) {
			margin: 0.75rem -1.5rem 3rem;
		}
	}
}

.out-of-page-template {
	margin: 0;

	&.floor-adhesion {
		padding: 20px 0;

		.button-close {
			border: 2px solid white;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			top: -20px;
		}
	}
}

.ad-slot.porvata-outstream {
	margin-bottom: 20px;

	.porvata-interface {
		.volume-button {
			height: auto;
			padding: 14px 12px 7px 7px;
			width: auto;

			svg {
				position: static;
			}
		}
	}
}

body:not(.has-uap):not(.has-new-uap) .ad-slot-placeholder.top-leaderboard,
.ad-slot-placeholder.top-boxad,
.ad-slot-placeholder.bottom-leaderboard,
.ic-ad-slot-placeholder {
	position: relative;
	padding: 18px 0 24px 0;

	&::after {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		color: #5f7a7b;
		content: 'Advertisement';
		display: block;
		font-size: 10px;
		font-weight: 500;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
	}

	.porvata-outstream.porvata3::before {
		display: none;
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}
