.gpt-ad {
	text-align: center;

	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

body:not(.skybox-loaded) {
	.mapped-skybox-nav,
	.mapped-mobile-skybox-nav {
		min-height: 0;
	}
}

.skybox-loaded {
	.mapped-skybox-nav {
		min-height: 19vw;
	}

	.mapped-mobile-skybox-nav {
		min-height: 56vw;
	}
}
