@import 'platforms/shared/styles/index';
@import 'platforms/shared/styles/mixin';
@import 'platforms/shared/styles/uap-porvata/porvata';

$sticky-navigation-height: 46px;

@mixin ucp-desktop-uap-styles() {
	.has-uap {
		.fandom-sticky-header {
			z-index: 401;
		}

		.top-ads-container {
			position: relative;
			background: #000;

			.ad-slot-placeholder.top-leaderboard {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		#top_leaderboard {
			$global-navigation-width: 66px;

			@include bfaa-slot(402, $global-navigation-width);
			@include sticky-tlb-slot($global-navigation-width);

			margin-left: $global-navigation-width;
		}

		#bottom_leaderboard {
			@include bfab-slot();
		}

		#top_leaderboard,
		#bottom_leaderboard {
			@include uap-porvata();
			@include uap-porvata-right-position();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	.has-sticky-tlb #top_leaderboard div {
		// important needed because some creatives contains inline CSS overriding this properties
		display: block !important;
		width: 100% !important;
	}

	@include expanded-slot();
}

@mixin out-of-page-styles() {
	@include out-of-page-template();
	@include floor-adhesion();
	@include interstitial();
}

@include ucp-desktop-uap-styles();
@include out-of-page-styles();
@include logo-replacement(55px, 0, 0, 93px, 27px);

// #######################################

.gpt-ad {
	text-align: center;

	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

.ad-slot-placeholder.hide {
	display: none !important;
}

.companion-stick {
	.page-content {
		overflow-x: unset;
	}

	.main-page-tag-rcs #top_boxad {
		position: sticky;
		z-index: 100;
		padding-top: 24px;
	}

	#rail-boxad-wrapper {
		position: sticky;
		z-index: 100;
	}
}

body:not(.uap-sticked) {
	.companion-stick {
		.main-page-tag-rcs #top_boxad,
		#rail-boxad-wrapper {
			top: calc(#{$sticky-navigation-height} - 10px) !important;
		}
	}
}

.ntv-ad {
	@include nativo;
	margin-bottom: 24px;

	.ntv-wrapper {
		background: var(--theme-page-background-color--secondary);
		border: 0;

		.ntv-content {
			.ntv-ad-button {
				font-size: 14px;
			}

			.ntv-ad-label {
				font-size: 14px;
				line-height: 24px;
			}

			.ntv-ad-offer {
				font-size: 16px;
				line-height: 28px;
			}

			.ntv-ad-title {
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
}

.main-page-tag-rcs {
	display: flex;
	flex-direction: column;
}

#top_boxad {
	margin-bottom: 10px;
}

#bottom_leaderboard {
	margin: 20px 0;

	> div {
		text-align: center;
	}
}

.porvata-outstream.porvata3 .volume-button {
	width: 20px;
	height: 20px;
	margin: 0 10px 10px 0 !important;
}
