@import '../shared/styles/index';
@import '../shared/styles/mixin';
@import '../shared/styles/uap-porvata/porvata';

@include logo-replacement(40px, 0, 5px);

.gdm__wrapper {
	text-align: center;
}

.slideout-open {
	#cdm-zone-01 {
		display: none;
	}
}

// Desktop disable ads
html.disable-ads {
	#pageWrapper {
		#atflb,
		#btflb {
			display: none !important;
		}
	}

	footer#curse-footer div.ad-placement {
		display: none;
	}
}

// Mobile disable ads
.editor-overlay .gpt-ad {
	display: none;
}

// Fix mobile navbar width
.gpt-ad.bfaa-template.sticky-bfaa {
	width: 100vw;
}

// Fix mobile navigation gray area
.primary-navigation-enabled {
	margin-top: 0 !important;
}

@mixin ucp-futhead-uap-styles() {
	&.has-uap {
		.homepage-content {
			padding-top: 0;
		}

		#cdm-zone-01 {
			@include bfaa-slot();
			@include sticky-tlb-slot();

			top: 43px;

			&.is-mobile-layout .video-overlay {
				transform: translateZ(0);
			}
		}

		#cdm-zone-01,
		#cdm-zone-04 {
			@include uap-porvata();
			@include uap-porvata-right-position();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}

		#cdm-zone-04 {
			@include bfab-slot();
		}

		.navbar-unfix-top {
			margin-top: unset;
		}

		&.site-futhead {
			&.with-mobile-nav {
				.navbar.navbar-futhead.bfaa-pinned {
					position: fixed;
				}
			}

			&.fixed-page-nav {
				.page-navigation {
					position: unset;
					box-shadow: unset;
				}

				.site-header {
					margin-bottom: 0;
				}
			}

			.main-content.homepage,
			.content-header,
			.futhead-gdm {
				position: unset;
			}
		}
	}

	@include expanded-slot();
}

@mixin ucp-muthead-uap-styles() {
	&.has-uap {
		.header {
			z-index: 203;
		}

		#cdm-zone-01 {
			@include bfaa-slot();
			@include sticky-tlb-slot();

			top: 51px;
			margin: 0;

			.video-player,
			.player-overlay {
				top: 0;
			}
		}

		#cdm-zone-04 {
			@include bfab-slot();
		}

		#cdm-zone-01,
		#cdm-zone-04 {
			@include uap-porvata();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	@include expanded-slot();
}

.ae-futhead {
	#cdm-zone-04 {
		margin: 15px auto;
		text-align: center;
	}

	@include ucp-futhead-uap-styles();
}

.desktop .ae-futhead.has-uap {
	.site-header .content-header {
		.container {
			display: flex;
			flex-direction: column;

			.content-header-left {
				order: 2;
			}

			.content-header-right {
				order: 1;
				padding: 0;
			}
		}
	}
}

.mobile .ae-futhead.has-uap {
	.futhead-gdm.headliner {
		height: 0 !important;
		min-height: 0;
		padding: 0;
	}

	#cdm-zone-04 {
		.video-overlay {
			transform: translateZ(0);
		}
	}
}

.ae-muthead {
	@include ucp-muthead-uap-styles();
}

.desktop .ae-muthead.has-uap {
	@include uap-porvata-right-position();

	#cdm-zone-01 {
		.video-player {
			transform: translateX(0);
		}
	}
}

.mobile .ae-muthead.has-uap {
	#cdm-zone-01 {
		top: 38px;
	}
}
