@import '../shared/styles/uap-styles.scss';
@import '../shared/styles/out-of-page-styles';
@import '../../shared/styles/common/hidden-ad-helper';

body {
	@include uap-styles();

	&.has-uap {
		#top_leaderboard {
			&.sticky-tlb {
				z-index: 5000061;
			}
		}
	}
}

.gpt-ad {
	text-align: center;

	@include hidden-ad-helper();

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

body:not(.skybox-loaded) {
	.mapped-skybox-nav,
	.mapped-mobile-skybox-nav {
		min-height: 0;
	}
}

@include out-of-page-styles();
