@import '../shared/styles/uap-styles.scss';
@import '../shared/styles/out-of-page-styles';
@import '../../shared/styles/common/hidden-ad-helper';

body {
	@include uap-styles();

	&.has-uap {
		#top_leaderboard {
			&.sticky-tlb {
				z-index: 201;
			}
		}
	}
}

.gpt-ad {
	text-align: center;

	@include hidden-ad-helper();

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

body:not(.skybox-loaded) {
	.c-adSkyBox,
	.c-adSkyBox .c-adDisplay_container {
		min-height: 0 !important;
	}
}

@include out-of-page-styles();
