@import '../shared/styles/uap-styles.scss';
@import '../shared/styles/out-of-page/_floor-adhesion.scss';
@import '../shared/styles/out-of-page/_out-of-page-template.scss';

body {
	@include uap-styles();
}

.gpt-ad {
	text-align: center;

	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

@include out-of-page-template();
@include floor-adhesion();
