@import '../shared/styles/uap-styles.scss';
@import '../shared/styles/out-of-page-styles';

body {
	@include uap-styles();

	&.has-uap {
		#top_leaderboard {
			&.sticky-tlb {
				z-index: 10001;
			}
		}
	}
}

.gpt-ad {
	text-align: center;

	@include hidden-ad();

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}
}

@include out-of-page-styles();

#incontent_player {
	display: block;
	float: right;
	margin: 0 0 15px 8px;
	width: 300px;
}
