@import 'src/ad-products/styles/mixin';
@import 'src/ad-products/styles/breakpoints';
@import 'platforms/shared/styles/advertisement-label';
@import 'platforms/shared/styles/bottom-panel';
@import 'platforms/shared/styles/button-close';
@import 'platforms/shared/styles/fullscreen-control';
@import 'platforms/shared/styles/progress-bar';
@import 'platforms/shared/styles/porvata-icons';
@import './styles/uap-navbar';

.has-uap {
	@include uap-navbar();

	.gpt-ad {
		&#top_leaderboard {
			margin: 0;
		}
	}

	#top_leaderboard,
	#hivi_leaderboard {
		z-index: 202;
		padding: 0;
		left: 0;
		top: 0;
		position: fixed;

		@include bfaa-bfab-overlay;
	}

	#bottom_leaderboard {
		z-index: 201;
		position: relative;

		@include bfaa-bfab-overlay;
	}

	#top_leaderboard,
	#hivi_leaderboard,
	#bottom_leaderboard {
		.video-overlay {
			position: absolute;
		}

		.video-display-wrapper {
			height: 100%;
			position: relative;
			width: 100%;
		}

		.video-player {
			right: 0;
		}

		.video-overlay,
		.replay-overlay {
			@include bfaa-bfab-hivi-right-position;
		}

		.porvata-interface {
			@include bottom-panel();
			@include fullscreen-button();
			@include porvata-icons($hivi-uap-button-size, $hivi-uap-light-button-color);
			@include progress-bar(
				$hivi-uap-progress-bar-height,
				$hivi-uap-progress-bar-color,
				$hivi-uap-progress-bar-current-time-color
			);
		}

		@include advertisement-label();
		@include button-close();

		&.is-dark {
			@include uap-dark-theme();
		}

		&.sticky-tlb {
			background: #000;
			padding: 18px 0 0 0;
			width: 100%;
			box-sizing: border-box;

			& .advertisement-label {
				color: #5f7a7b;
				position: static;
				text-align: center;
			}
		}
	}
}

.gpt-ad {
	&#top_leaderboard,
	&#bottom_leaderboard {
		text-align: center;
		margin: 5px 0;

		&.hide {
			display: none;
		}
	}

	&.expanded-slot {
		width: 100%;

		& > div.iframe-container,
		& > div.iframe-container > iframe {
			height: 100%;
			width: 100%;
		}

		&.hide,
		& .hide {
			display: none !important;
		}
	}
}
