@import './styles/uap-navbar';
@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';

.has-uap {
	@include uap-navbar();

	.gpt-ad {
		&#top_leaderboard {
			margin: 0;
		}
	}

	#top_leaderboard,
	#hivi_leaderboard {
		@include bfaa-slot();
	}

	#bottom_leaderboard {
		@include bfab-slot();
	}

	#top_leaderboard,
	#hivi_leaderboard,
	#bottom_leaderboard {
		@include uap-porvata();
		@include uap-porvata-right-position();

		@include uap-advertisement-label();
		@include uap-button-close();

		&.is-dark {
			@include uap-dark-theme();
		}

		&.sticky-tlb {
			background: #000;
			padding: 18px 0 0 0;
			width: 100%;
			box-sizing: border-box;

			& .advertisement-label {
				color: #5f7a7b;
				position: static;
				text-align: center;
			}
		}
	}
}

@include expanded-slot();

.gpt-ad {
	&#top_leaderboard,
	&#bottom_leaderboard {
		text-align: center;
		margin: 5px 0;

		&.hide {
			display: none;
		}
	}
}
