.gpt-ad {
	&#top_leaderboard,
	&#bottom_leaderboard {
		text-align: center;
		padding: 5px 0;

		&.hide {
			display: none;
		}
	}
}

.gpt-ad {
	&#top_boxad {
		margin: 5px;
		float: right;
		position: relative;
		text-align: center;

		@media screen and (max-width: 1350px) {
			display: none;
		}
	}
}
